<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhSF1ovt5iZO-LxUR5jHkFQQIk6YuU418</string>
	<key>GCM_SENDER_ID</key>
	<string>1075652152028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpadtrialmindease.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mindease-661f6</string>
	<key>STORAGE_BUCKET</key>
	<string>mindease-661f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075652152028:ios:5232cbf80344ad4a5fc219</string>
</dict>
</plist>